.card {
    position: relative;
    background-position: center;
    background-size: contain;
    background-color: white;
    width: 756px;
    height: 1040px;
    margin: 0;
}

.card * {
    font-family: "futura-medium", "serif";
}

.card div.art,
.card div.border,
.card div.elements,
.card div.elementstop {
    position: absolute;
    width: 756px;
    height: 1040px;
    background-position: center;
    background-size: contain;
    border: 0;
}

.card div.border {
    background-image: url("../img/card_border.png");
}

.card div.elements {
    background-image: url("../img/card_elements_black.png");
}

/*.card div.elements-tank {*/
/*    background-image: url("../img/card_elements_tank.png");*/
/*}*/

.card div.card-name {
    position: absolute;
    color: #2c2c2c;
    font-size: 42px;
    font-family: "futura-bold", "serif";
    top: 22px;
    left: 196px;
    width: 288px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.card div.card-cost {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 80px;
    width: 500px;
    color: white;
    font-size: 16px;
    line-height: 44px;
    text-shadow: 0 0 4px #000, 0 0 4px #000;
}

.card div.card-cost div {
    background-image: url("../img/card_cost.png");
    width: 67px;
    height: 44px;
    margin-left: -18px;
    text-align: center;
}

.card div.hp,
.card div.attack,
.card div.defense {
    position: absolute;
    color: #2c2c2c;
    font-size: 96px;
    font-family: "futura-bold", "serif";
    top: 37px;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.card div.hp {
    top: 36px;
    left: 508px;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.attack {
    left: 84px;
}

.card div.defense {
    left: 627px;
}

.card div.skill-group {
    position: relative;
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
}

.card div.skill-group div.skill-container {
    width: 726px;
    margin-bottom: 36px;
    margin-top: auto;
}

.card div.skill-vanguard,
.card div.skill-center,
.card div.skill-rearguard {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 8px #000, 0 0 8px #000;
    margin-bottom: 6px;
}

.card div.skill-vanguard div.skill-line,
.card div.skill-center div.skill-line,
.card div.skill-rearguard div.skill-line {
    position: relative;
    height: 56px;
    line-height: 55px;
    background-repeat: no-repeat;
    background-position: top 1px right 448px;
    width: 730px;
    padding-left: 36px;
    z-index: 22;
}

.card div.skill-vanguard div.skill-line  { background-image: url("../img/card_vanguard.png"); }
.card div.skill-center div.skill-line    { background-image: url("../img/card_center.png"); }
.card div.skill-rearguard div.skill-line { background-image: url("../img/card_rearguard.png"); }

.card div.skill-line div.line {
    display: inline-block;
    width: 164px;
    vertical-align: top;
}

.card div.skill-line div.cost {
    display: inline-block;
    margin-right: 28px;
    padding-top: 0;
    font-size: 36px;
    font-family: "futura-bold", "serif";
}

.card div.skill-line div.skills {
    display: inline-block;
}

.card div.skill-line div.skills span {
    font-size: 24px;
    border-radius: 14px;
}

.card div.skill-description {
    position: relative;
    margin-top: -24px;
    z-index: 20;
}

.card div.skill-description div.text {
    font-size: 40px;
    line-height: 46px;
    font-family: "futura-light", "serif";
    margin-left: 32px;
    /*background-color: rgb(255, 255, 255, 0.3);*/
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 10px;
    padding: 24px 10px 10px 10px;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.3);
    text-shadow:
        0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000,
        0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.skill-traits {
    position: relative;
    margin-bottom: 8px;
    padding-left: 32px;
}

.card div.cardnumber {
    position: absolute;
    color: white;
    font-family: "futura-light", "serif";
    font-size: 18px;
    top: 1000px;
    width: 730px;
    text-align: right;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.cardnumber span.trait {
    font-size: 20px;
    border-radius: 12px;
    margin-right: 10px;
}
